body{
    background-image: url(https://wallpaperaccess.com/full/1461754.jpg);
    background-color: #f810103f;
    background-repeat: no-repeat;
    background-size:cover;

}

h1{
    font-weight: bold;
}

